.card .makepost_img {
  align-items: center;
  gap: 20px;
}
.card .makepost_img img,
.card .post_author .post_author_info img {
  width: 10%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card .makepost {
  border: 2px solid var(--Black);
  padding: 2%;
  width: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}
.card .article {
  justify-content: space-around;
}
.card .article .article_sub {
  align-items: center;
  padding: 1.5% 2.5%;
  gap: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card .article .article_sub:hover {
  background: var(--Grey);
}
.card .article .article_sub .article_icon {
  font-size: 20px;
  color: #378fe9;
}
.card .article .article_sub .article_icon2 {
  font-size: 27px;
  color: #c78626;
}
.card .article .article_sub .article_icon3 {
  font-size: 27px;
  color: #e06847;
}
.card .article .article_sub span {
  font-weight: 500;
  color: var(--Black2);
}

/* -------------------------------------POST CARD ------------------------------------  */
.post_author {
  align-items: center;
}
.post_author_info {
  gap: 20px;
}
.post_author_details .post_author_name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--Black);
}
.post_author_details .post_author_position,
.post_author_details .post_author_time {
  font-size: 12px;
  line-height: 16px;
  color: var(--Gray);
}
.post_author .post_calltoaction_btn {
  gap: 10px;
}
.post_author .post_calltoaction_btn .calltoaction_icon {
  cursor: pointer;
}
.post_contents .post_writeup {
  font-size: 14px;
  line-height: 20px;
  margin: 15px 0px;
}
.post_contents .post_img img {
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.post_reactions {
  justify-content: space-between;
  /* align-items: center; */
}
.post_reactions .post_owner {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  color: var(--Gray);
}
.post_reactions .post_owner img {
  width: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post_reactions .post_owner .post_owner_icon {
  font-size: 24px;
  color: var(--Black2);
}
.post_reactions .post_owner .post_owner_icon:hover {
  color: var(--Black);
}
.post_like,
.post_repost {
  position: relative;
}
.post_like:hover .like_hover,
.like_hover:hover {
  display: flex;
}

/* ---------------LIKE POP UP --------------  */
.like_hover {
  position: absolute;
  display: none;
  bottom: 40px;
  left: 0;
  gap: 10px;
  background: var(--White);
  padding: 11px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.like_hover_icon {
  transform: rotate(180deg);
  font-size: 23px;
  color: var(--Blue);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.like_hover_icon:hover {
  transform: rotate(180deg);

  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-top: -10px;
}
.like_hover_icon2 {
  font-size: 25px;
  font-size: 25px;
  color: #6dae4f;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
.like_hover_icon2:hover {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-top: -10px;
}
.like_hover_icon3 {
  transform: rotateY(180deg);
  font-size: 25px;
  color: #bba9d1;
}
.like_hover_icon3:hover {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-top: -10px;
}
.like_hover_icon4 {
  font-size: 25px;
  color: #df704d;
}
.like_hover_icon4:hover {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-top: -10px;
}
.like_hover_icon5 {
  font-size: 25px;
  color: #f5bb5c;
}
.like_hover_icon5:hover {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-top: -10px;
}
.like_hover_icon6 {
  font-size: 25px;
  color: #79deee;
}
.like_hover_icon6:hover {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-top: -10px;
}

.post_like,
.post_comment,
.post_repost,
.post_share {
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 1.3% 2.3%;
  color: var(--Black2);
}
.post_like .icon {
  font-size: 22px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.post_comment .icon {
  font-size: 20px;
}
.post_repost .icon {
  font-size: 30px;
}
.post_share .icon {
  font-size: 23px;
}
.post_like span,
.post_comment span,
.post_repost span,
.post_share span {
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  color: var(--Black2);
}
.post_owner:hover,
.post_like:hover,
.post_comment:hover,
.post_repost:hover,
.post_share:hover {
  background: var(--Grey);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--Black);
}
.post_like:hover span,
.post_comment:hover span,
.post_repost:hover span,
.post_share:hover span {
  color: var(--Black);
}
/* ------------END OF LIKE POP UP ----------------  */

/* --------------------POST COMMENT ----------------------  */
.post_make_comment {
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  border: 2px solid var(--Gray);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  overflow: hidden;
}
.post_make_comment input {
  padding: 2%;
  border: none;
  outline: none;
  width: 100%;
}
.post_comment_icons {
  gap: 10px;
}
.post_comment_icons .smile {
  font-size: 20px;
  color: var(--Black2);
  font-weight: bold;
  cursor: pointer;
}
.post_comment_icons .img {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* ----------------------------REPOST POP UP--------------- */
.repost_pop {
  position: absolute;
  width: 350px;
  align-items: start;
  background: var(--White);
  top: 50px;
  right: 0;
  /* padding: 10px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1p8;
  -webkit-border-radius: 1p8;
  -moz-border-radius: 1p8;
  -ms-border-radius: 1p8;
  -o-border-radius: 1p8;
}
.repost_pop_box {
  align-items: center;
  gap: 20px;
  padding: 2% 0% 2% 5%;
  width: 100%;
}
.repost_pop_box:hover {
  background: var(--Grey);
}
.repost_pop_box .repost_icon {
  font-size: 25px;
  color: var(--Black2);
}
.repost_pop_box .repost_icon2 {
  font-size: 35px;
  color: var(--Black2);
}
.repost_desc {
  display: flex;
  text-align: left;
}
.repost_desc h4 {
  font-size: 16px;
  color: var(--Black2);
}
.repost_desc span {
  font-size: 10px;
}
/* ------------MODAL POP UP GENERAL FORMAT ----------------  */
.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000050;
  display: flex;
  justify-content: center;
  z-index: 9 !important;
}
.modalCard {
  position: relative;
  z-index: 999 !important;
  background: var(--White);
  width: 750px;
  height: 85vh;
  margin-top: 40px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  overflow: hidden;
}
.modalHeader {
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Grey);
}
.modalHeader .close_modal {
  font-size: 25px;
  cursor: pointer;
}
.modalBody {
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;

  /* margin-top: 20px; */
  overflow-y: auto;
  height: 65vh;
}
.modalFooter {
  width: 100%;
  position: absolute;
  bottom: 0;

  padding: 20px 35px;
  background: var(--White);
  align-items: center;
  border-top: 1px solid var(--Grey);
}
.modalFooter .modalFooterBtn {
  justify-content: end;
  align-items: center;
  width: 100%;
}
/* --------------------POST MODAL POPUP----------------  */
.modal_out {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000050;
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  z-index: 9 !important;
}
.modal_card {
  z-index: 999 !important;
  background: var(--White);
  width: 800px;
  height: 85vh;
  margin-top: 40px;
  padding: 35px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.modal_card_header {
  justify-content: space-between;
}
.modal_card_header .close_modal {
  font-size: 25px;
  cursor: pointer;
  z-index: 9999px;
}
.postmodal_author {
  gap: 10px;
}
.postmodal_author img {
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.postmodal_author .name h2 {
  font-size: 20px;
}
.postmodal_author .name p {
  font-size: 14px;
}
.postmodal_textarea {
  margin-top: 40px;
  width: 100%;
}
.postmodal_textarea textarea {
  width: 100%;
  height: 40vh;
  border: none;
  resize: none;
}
.postmodal_textarea textarea:focus {
  border: none;
  outline: none;
}
.modal_card .smile_emoji {
  margin: 2% 0%;
  font-size: 20px;
  color: var(--Gray);
  cursor: pointer;
}
.modal_card .reaction {
  color: var(--Gray);
  gap: 35px;
  font-size: 22px;
  cursor: pointer;
  margin: 35px 0 25px;
}

.modal_card .post_btn {
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.modal_card .post_btn .time {
  font-size: 25px;
  cursor: pointer;
}

/* --------------------SHARE POST MODAL POPUP----------------  */
.share_postmodal_input {
  margin-top: 20px;
  width: 100%;
}
.share_postmodal_input input {
  width: 100%;
  height: 35px;
  padding: 0px 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.share_postmodal_users {
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.share_postmodal_users img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.share_postmodal_users .name {
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--Grey);
}
.share_postmodal_users .name h2 {
  font-size: 14px;
  font-weight: bold;
}
.share_postmodal_users .name p {
  font-size: 12px;
  color: var(--Gray);
  margin-bottom: 6px;
}
.share_postmodal_users .share_check_box {
  width: 25px;
}
.share_postmodal_users .share_check_box:checked {
  /* background: #0f9f6f; */
  accent-color: #0f9f6f;
}
.share_modal_card .share_post_btn {
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.modalFooter_Sharecomment {
  background: #f4f2ee;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.modalFooter_Sharecomment textarea {
  background: transparent;
  border: none;
  outline: none;
  padding: 15px;
  resize: none;
}
.modalFooter_Sharecomment_footer {
  padding: 15px;
  border-top: 1px solid var(--Grey);
  align-items: center;
  gap: 8px;
  color: var(--Gray);
}
.modalFooter_Sharecomment_footer span {
  font-size: 12px;
}
/* ---------------------------MEDIA MODAL--------------------  */
.mediaBody {
  background: #f8fafd;
}
.modalMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 10px;
}
.modalMedia input {
  display: none;
}

/* -------------------------- SmallProfileCard --------------------  */
.smallcard {
  background: var(--White);
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.small_profile_card_header {
  align-items: center;
}
.small_profile_card_header .coverImg {
  width: 100%;
  height: 70px;
}
.small_profile_card_header .profileImg {
  width: 35%;
  margin-top: -20%;
  border: 2px solid var(--White);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.small_profile_card_header a {
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none;
  color: var(--Black);
}
.small_profile_card_header span {
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  width: 80%;
  color: var(--Gray);
  margin-bottom: 20px;
}
.small_profile_card_body {
  border-top: 1px solid var(--Grey);
  border-bottom: 1px solid var(--Grey);
  padding: 10px 0px;
}
.small_profile_card_body .h6 {
  justify-content: space-between;
}
.small_profile_card_body .h6 span {
  color: var(--Blue);
}
.small_profile_card_body h6 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 8px 15px;
}
.small_profile_card_body h6:hover {
  background: var(--Grey);
  cursor: pointer;
}
.small_profile_card_footer {
  align-items: center;
  padding: 10px 15px;
  gap: 5px;
  color: var(--Gray);
  cursor: pointer;
}
.small_profile_card_footer h6 {
  font-size: 12px;
}
/* -----------------RECENT CARD--------  */
.topic {
  justify-content: space-between;
  padding: 8px 15px;
}
.topic h6 {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
.topic {
  justify-content: space-between;
  padding: 8px 15px;
}
.react_icon {
  cursor: pointer;
}
.sub_topic {
  gap: 7px;
  padding: 8px 15px;
  cursor: pointer;
}
.sub_topic:hover {
  background: var(--Grey);
}
.recent_footer {
  justify-content: center;
  align-items: center;
  padding: 15px;
}
/* ------------RecommendCard-------------  */
.RecommendCard .header {
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}
.RecommendCard .body {
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  padding: 8px 15px;
}
.RecommendCard .body .icon {
  width: 30%;
}
.RecommendCard .body .icon img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.RecommendCard .body .detail {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
  gap: 8px;
}
.RecommendCard .body .detail h4 {
  font-size: 14px;
  line-height: 20px;
}
.RecommendCard .body .detail p {
  font-size: 12px;
  color: var(--Gray);
}
.RecommendCard .body .detail .btn {
  padding: 5px 10px;
}

/* ----------------------------PROMOTEDCARD--------------------------  */
.PromotedCard {
  width: 100%;
  overflow: hidden;
  background: var(--White);
  /* padding: 1% 3%; */
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.PromotedCard .header {
  position: relative;
  justify-content: space-between;
}
.PromotedCard .header .bg {
  position: absolute;
  width: 100%;
  height: 8vh;
  left: 0;
  top: 0;
  filter: grayscale(70);
  -webkit-filter: grayscale(70);
}
.PromotedCard .header .dp {
  position: absolute;
  border: 0.5px solid var(--Grey);
  top: 25px;
  left: 15px;
  width: 80px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.PromotedCard .header p {
  position: absolute;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  right: 10px;
  top: 15px;
  font-size: 12px;
  background: var(--Grey);
  padding: 4px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.PromotedCard .detail {
  margin-top: 100px;
  padding: 20px;
}
.PromotedCard .detail h5 {
  font-size: 16px;
}
.PromotedCard .detail p {
  color: var(--Gray);
}
.PromotedCard .detail span {
  font-size: 14px;
  color: var(--Gray);
}
.PromotedCard .detail .people span {
  font-size: 14px;
  color: var(--Gray);
}
